<DOMAIN> {
    redir /.well-known/carddav /remote.php/dav/ 301
    redir /.well-known/caldav /remote.php/dav/ 301

    reverse_proxy 10.1.12.2:80 {
        header_up X-Forwarded-Host {host}
        header_down Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
    }
}