<DOMAIN> {
    reverse_proxy 10.1.24.2:8888 {
        header_up X-Forwarded-Proto {scheme}
        header_up Host {host}
        transport http {
            tls_insecure_skip_verify
        }
    }
}
