services:
  postgres:
    image: postgres:16-alpine
    container_name: ctr-matrix-postgres
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      matrix:
        ipv4_address: 10.1.21.2

  synapse:
    image: matrixdotorg/synapse:latest
    container_name: ctr-matrix-synapse
    restart: unless-stopped
    #ports:
    #  - "8008:8008"  # Client API
    #  - "8448:8448"  # Federation API
    volumes:
      - ./synapse:/data
    networks:
      matrix:
        ipv4_address: 10.1.21.3

  mas:
    image: ghcr.io/element-hq/matrix-authentication-service
    container_name: ctr-matrix-mas
    restart: unless-stopped
    #ports:
    #  - "8080:8080"
    volumes:
      - ./mas/config.yml:/config.yaml
      - ./mas/data:/data
    command: ["server", "-c", "/config.yaml"]
    networks:
      matrix:
        ipv4_address: 10.1.21.4

  element:
    image: vectorim/element-web:latest
    container_name: ctr-matrix-element
    restart: unless-stopped
    #ports:
    #  - "80:80"
    volumes:
      - ./element/config.json:/app/config.json
    networks:
      matrix:
        ipv4_address: 10.1.21.5

  # Optional
  #element-admin:
  #  image: awesometechnologies/synapse-admin:latest
  #  container_name: matrix-element-admin
  #  restart: unless-stopped
  #  #ports:
  #  #  - "80:80"
  #  networks:
  #    matrix:
  #      ipv4_address: 10.1.21.6

networks:
  matrix:
    name: net-matrix
    driver: bridge
    ipam:
     config:
       - subnet: 10.1.21.0/24
         gateway: 10.1.21.1